@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Dark theme */
  --color-bgDark: #252627;

  --color-clockDark: #1c1c1d;

  --color-handDark: #ecf144;

  /* Light theme */
  --color-bgLight: #f2f3f5;

  --color-clockLight: #e4e5e6;

  --color-handLight: #3a3b3d;
}

.rotate-0 {
    @apply rotate-0;
}

.rotate-90 {
    @apply rotate-90;
}

.rotate-180 {
    @apply rotate-180;
}

.rotate-270 {
    @apply rotate-[270deg];
}

.rotate-135 {
    @apply rotate-[135deg];
}