---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Analog Digital Clock</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<script>
			(function () {
			const isDark =
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches);
			document.documentElement.classList.toggle("dark", isDark);
			document.documentElement.classList.toggle("light", !isDark);
			})();
		</script>
	</head>
	<body id="body" class="light mt-0">
		<section
			class="w-full h-screen bg-bgLight dark:bg-bgDark flex justify-center items-center"
		>
			<slot />
			<div id="themePicker" class="absolute top-4 right-4 w-20 h-10 rounded-full cursor-pointer bg-clockLight dark:bg-clockDark transition-all duration-500 shadow-inner flex items-center justify-between px-1" >
				<!-- Light icon -->
				<div class="flex items-center justify-center w-8 h-8 bg-bgLight text-handLight rounded-full transition-opacity duration-500 dark:opacity-0" >
					<span class="material-symbols-rounded text-base leading-none align-middle" >
						sunny
					</span>
				</div>

				<!-- Dark icon -->
				<div class="flex items-center justify-center w-8 h-8 bg-bgDark text-handDark rounded-full transition-opacity duration-500 opacity-0 dark:opacity-100" >
					<span class="material-symbols-rounded text-base leading-none align-middle" >
						moon_stars
					</span>
				</div>
			</div>
		</section>

		<script src="../scripts/theme.js"></script>
	</body>
</html>
